.a {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .b {
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .b-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 25vh;
    width: 10px;
   /*background-color:brown;*/
    padding:20px 30px;
    margin:150px 100px;
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0; */
    flex-wrap : wrap;
      /* background: rgba( 255, 255, 255, 0.05 ); */
    background: rgba( 84,84,142,0.25);

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    /*-webkit-backdrop-filter: blur( 1px );*/
   /* background:transparent;*/
   overflow:auto; 
   border-radius:25px;
  }
  .a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 20px;
   /*background-color:brown;*/
    padding:20px 30px;
    margin:100px 0;
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0; */
    flex-wrap : wrap;
      /* background: rgba( 255, 255, 255, 0.05 ); */
    background: rgba( 84,84,142,0.25);

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
   /* background:transparent;*/
   overflow:auto; 
   border-radius:25px;
  }
  .a-right {
    flex: 1;
    display: flex;
   align-items: center;
    justify-content: center;
    /* position:relative; */
    /* padding:0 30px; */
  }
  .b-right {
    flex: 1;
    display: flex;
   align-items: center;
    justify-content: center;
    /* position:relative; */
    /* padding:0 30px; */

  }
  
  
  .img-fluid {
    width: 25vw;
    height:45vh; 
  }
  .img-fluid1 {
    width: 18vw;
    height:35vh; 
  }
 
  
  .a-title {
    font-weight: 400;
   color: rgb(129, 198, 232);
    padding-left:100px;
    padding-right:100px;
    font-size:30px;
  }
  
  .a-desc{
      font-weight: 300;
      color:rgba(255, 255, 255, 0.697);
      text-align:center;
      font-size:20px;
  }

  
  @media screen and (max-width:800px) {
      .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
      }
      .b{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        height:auto;
      }
      .a-left {
        width: 100%;
      }
      .b-left {
        width: 100%;
      }
  
      .img-fluid1 {
        width: 30vw;
        height:23vh;
      }  
      .img-fluid {
        width: 30vw;
        height:20vh;
      }
     

      .a-right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;
        padding:0 30px;
      }
  }