.core{
    /* color: black; */
    background-color: #041630;
}
.headingcore{
    color: white;
    text-align: center;
}
.card{
    text-align: center;
    width: 100%;
    margin: auto;
}
/* .btn{
    background-color: blue;
} */
.container .hello1core{
    color: white;
}
.card-title{
    color: black;
}
.hello1core{
    text-align: center;
}
/* .container{
    /* background-color: aqua; */
    /* text-align: center; */
/* } /* */
/* .row{
    width: 100%;
    margin: auto;
    background-color: khaki;
} */
