.core{
    color: black;
    background-color: greenyellow;
}
.heading{
    color: black;
}
.card{
    text-align: center;
    width: 100%;
    margin: auto;
}
/* .btn{
    background-color: blue;
} */
.container .hello1{
    color: black;
}
.card-title{
    color: black;
}
.container{
    /* background-color: aqua; */
    text-align: center;
}
/* .row{
    width: 100%;
    margin: auto;
    background-color: khaki;
} */
