@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
/*body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #333;
}*/
.noclash{
    position: relative;
    width: 100%;
    background-color: rgba(25, 100, 197, 0.496);
    /* min-height: 200px; */
    padding: 10px 30px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column;   */
}
.webfooter{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.footercontent{
    /* flex-grow: 2; */
    margin: 10px 150px;
}
.menufooter{
    margin: 10px 150px;
    
}

.tagline{
    font-size: 20px;
    color: white;
    opacity: 0.85;
    text-align: center;
}
.icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
    /* flex-wrap: wrap; */
}
.icons li,.menu li{
    list-style: none;
}
.icons li a{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.664);
    margin: 0px 7px;
    display: inline-block;
}
.icons li a:hover,.menu li a:hover{
    color: white;
    opacity: 1;
}
.menu li a{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.664);
    margin: 0px 7px;
    align-items:center;
    text-decoration: none;
    opacity: 0.8;
}
.contact{
    margin: 7px 0;
    text-align: center;
}
.contact p{
    color: rgba(255, 255, 255, 0.664);
    opacity: 0.8;
}
.contact b{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.947);
    opacity: 0.9;
    font-size: 17px;
}
.contact b:hover{
    color: white;
    opacity: 1;
}
