.logo{
    line-height: 10vh;
    height: 70px;
    justify-content: flex-start;
}
.navigation {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px 50px;
    background-color: #fff;
    color: black;
  }
  .links{
    font-size: 18px;
    font-weight: 600;
  }
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .navigation-menu {
    margin-left: auto;
  }
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  .navigation-menu li {
    
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu li a {
    
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .hamburger {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .navbar{
        background-color: #fff;
        width: 100%;
    }
    .logo{
        left: 20px;
    }
    .navigation-menu ul {
        display: none;
      }
      .navigation-menu ul {
        
        position: absolute;
        top: 60px;
        left: 0;
        
        flex-direction: column;
      
        width: 100%;
        height: calc(100vh - 77px);
        background-color: white;
        
      }
      .navigation-menu li {
        
        text-align: center;
        margin: 0;
      }
      .navigation-menu li a {
        color: black;
        
        width: 100%;
        padding: 1.5rem 0;
      }
      .navigation-menu li:hover {
        background-color: #eee;
      }
      .navigation-menu ul {
        /* previous styles */
        display: none;
      }
      .navigation-menu.expanded ul {
        display: block;
        top: 100px;
      }
  }