.ptitle{
    text-align: center;
    color: #81C6E8;
}
.cardheader{
    color: black;
}
.Project-cards {
    text-align: center;
    /* width: 45vw; */
    width: 50%;
    /*height: auto;*/
    margin: auto;
    margin-top: 35px;
    /* margin-right:350px; 
     /*margin-left:350px;*/
    margin-bottom: 30px;
    padding: 20px;
    /*background: transparent;
    color: white;
    /* border: 2px solid yellow; */
    border: none;
    background: rgba(84, 84, 142, 0.25);
    box-shadow: 0 8px 32px 0 rgba(91, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    border-radius: 2em;
    border: 1px solid rgba(97, 149, 187, 0.555);
    overflow: hidden;


}

.btn1 {
    background: rgba(129, 198, 232, 0.786);
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px 50px;
    
}
@media screen and (max-width: 30em) {
    .btn1{
        display: block;
        margin: 0.4em auto;
    }
    
}
@media screen and (min-width:23rem) {
    .Project-cards{
        display: block;
        margin: 0.4em auto;
    }
}

.all {
    /* background-color: #02182B; */
    height: auto;
    padding: 0;
    margin: 0;
}

.card-text {
    color: white;
}
.projects-title0{
    font-size: 1.3rem;
}
.projects-title1{
    font-size: 1rem;
}
.projects-title2{
    font-size: 1.2rem;
}