.ecard{
    width: 380px;
    height: 550px;
    border-radius: 20px;
    border: 8px solid rgb(245, 245, 249);
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0;
}
.uptitle{
    text-align: center;
    color: #81C6E8;
    padding: 20px;
}
.eimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.ecardinfo{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position:absolute;
    background: rgba(0, 0, 0, 0.3) ;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 1s;
    /* text-align: center;
    align-self: center;
    align-items: center; */
}
.ecard:hover .ecardinfo{
    right: 0;
}
.etitle{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;

}
.edate{
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: 300;
}
.einfo{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    margin:20px 0px; 
}
.ebtn{
    padding-left:10px;
    padding-top: 5px;
}
.ereg{
    color: rgb(7, 6, 6);
    background-color: rgb(111, 155, 193);
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
}