*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-image: url('./components/bgimg2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      height:auto;
      width: 100vw;
}
.Aboutus{
  /* background-image: url('./components/bgimg2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
  display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 25vh;
    background-color: black;
}
.upevents{
  margin: 0;
    padding: 0;
    width: 100%;
    /* height: 97vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background:#02182B;
    font-family: 'Poppins';
}
.events{
  /* background: #02182B; */
  justify-content: center;
}
/*.projects{
  background-color: blue; 
  height: 700vh;
}*/